{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>LITReview</title>

    <link rel="stylesheet" href="{% static 'reviews/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

    <header class="banner">
        <h1 id="logo">LITReview</h1>

        {% if request.user.is_authenticated %}
        <div class="menu">

            <button class="button_menu" type="button"
                onclick="window.location.href='{% url 'user_connections' request.user.id %}'">
                Abonnements
            </button>

            <button class="button_menu" type="button" onclick="window.location.href='{% url 'flux' %}'">
                Flux
            </button>

            <button class="button_menu" type="button" onclick="window.location.href='{% url 'posts' %}'">
                Posts
            </button>

            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <div class="button_container">
                    <button type="submit" class="button_menu">
                        Se déconnecter
                    </button>
                </div>
            </form>

        </div>
        {% endif %}
    </header>

    <main class="main">
        {% block content %}{% endblock %}
    </main>

</body>

</html>