{% extends 'reviews/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'tickets/tickets.css' %}" />
{% endblock %}
{% block content %}

<div class="ticket-container">
    <h2 class="form-title">Créer un ticket</h2>

    <form method="post" enctype="multipart/form-data" class="ticket-form">
        {% csrf_token %}

        <div class="form-field">
            <h3>Titre</h3>
            {{ form.title }}
        </div>

        <div class="form-field">
            <h3>Description</h3>
            {{ form.description }}
        </div>

        <div class="form-field">
            <h3>Image</h3>
            <input type="file" name="image" id="id_image" accept="image/*" style="display:none;">
            <button type="button" class="btn-secondary" onclick="document.getElementById('id_image').click();">
                Télécharger fichier
            </button>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn-submit">Envoyer</button>
        </div>
    </form>
</div>
{% endblock %}