{% extends 'reviews/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tickets/tickets.css' %}" />
<link rel="stylesheet" href="{% static 'reviews/reviews.css' %}" />
<link rel="stylesheet" href="{% static 'tickets/posts.css' %}" />
{% endblock %}

{% block content %}

<div class="main-container">

    <h1 class="page-title">Vos posts</h1>

{% for post in posts %}

    {% if post.rating %}

        {% include 'reviews/partials/review.html' with review=post show_actions=True %}

    {% else %}

        {% include 'tickets/partials/ticket.html' with ticket=post show_actions=True %}

    {% endif %}

{% endfor %}

{% endblock %}